<!DOCTYPE html>
<html lang="en">
<head>
    <title>red's side</title>
</head>
<body>
    <h1>this is red's side</h1>
    <form>
        <input id="year-input" type="text" placeholder="Enter year.">
        <input id="unit-input" type="text" placeholder="Enter Unit">
        <input id="pass" type="password" placeholder="password..">
        <button type="submit">submit</button>
    </form>
    <h3 id="response"></h3>
    <img src="./static/images/loader.gif" alt="loading..." style="display: none;">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./static/js/admin.js"></script>
</body>
</html>